header{
    background: linear-gradient(rgb(64, 156, 35), Green)

}



h1{
font-size: 90px;
text-align: center;
color: rgb(0, 0, 0);
}

h2{
font-size: 40px;
text-align: center;
}

body{
margin: 3%;
font-size: 20px;
text-align: justify;
background: linear-gradient(rgb(255, 255, 255), Green)
}

.b{
width: 400px;
border: solid 10px rgb(54, 54, 23);
margin-left: 35%;
 }

.a{
width: 500px;
border: solid 10px black;
margin-left: 30%;  
align-items: center;
}

