h1{
font-size: 90px;
text-align: center;
color: rgb(0, 0, 0);
}

h2{
font-size: 40px;
text-align: center;
}

body{
margin: 3%;
font-size: 20px;
text-align: justify;
background: linear-gradient(rgb(255, 255, 255), Green)
}

.b{
width: 200px;
border: solid 10px;
margin-left: 30%;
align-items: center;
 }

.a{
width: 500px;
border: solid 10px;
margin-left: 30%;  
align-items: center;
}

